<%= turbo_frame_tag "leave_type_form" do %>
  <div class="card card-pad mb-6">
    <h2 class="card-title mb-4">New Leave Type</h2>
    <%= render "form", leave_type: @leave_type, url: admin_leave_types_path %>
  </div>
<% end %>
