<%= turbo_frame_tag @department do %>
  <tr>
    <td colspan="2" class="p-0">
      <div class="p-6">
        <h3 class="text-sm font-semibold text-stone-900 mb-4">Edit Department</h3>
        <%= render "form", department: @department, url: admin_department_path(@department), method: :patch %>
      </div>
    </td>
  </tr>
<% end %>
