<%= turbo_frame_tag "department_form" do %>
  <div class="card card-pad mb-6">
    <h2 class="card-title mb-4">New Department</h2>
    <%= render "form", department: @department, url: admin_departments_path %>
  </div>
<% end %>
