<%= turbo_frame_tag "holiday_form" do %>
  <div class="card card-pad mb-6">
    <h2 class="card-title mb-4">Edit Holiday</h2>
    <%= render "form", holiday: @holiday, url: admin_holiday_path(@holiday), method: :patch %>
  </div>
<% end %>
