<%= turbo_frame_tag @holiday do %>
  <tr>
    <td colspan="5" class="px-6 py-4">
      <h3 class="text-sm font-semibold text-gray-900 mb-3">Edit Holiday</h3>
      <%= render "form", holiday: @holiday, url: admin_holiday_path(@holiday), method: :patch %>
    </td>
  </tr>
<% end %>
