<%= turbo_frame_tag "holiday_form" do %>
  <div class="card card-pad mb-6">
    <h2 class="card-title mb-4">New Holiday</h2>
    <%= render "form", holiday: @holiday, url: admin_holidays_path %>
  </div>
<% end %>
