<%= turbo_frame_tag @designation do %>
  <tr>
    <td colspan="2" class="p-0">
      <div class="p-6">
        <h3 class="text-sm font-semibold text-gray-900 mb-4">Edit Designation</h3>
        <%= render "form", designation: @designation, url: admin_designation_path(@designation), method: :patch %>
      </div>
    </td>
  </tr>
<% end %>
