<%= turbo_frame_tag "designation_form" do %>
  <div class="bg-white rounded-lg border border-gray-200 p-6 mb-6">
    <h2 class="text-lg font-semibold text-gray-900 mb-4">New Designation</h2>
    <%= render "form", designation: @designation, url: admin_designations_path %>
  </div>
<% end %>
