<%= turbo_frame_tag "designation_form" do %>
  <div class="card card-pad mb-6">
    <h2 class="card-title mb-4">New Designation</h2>
    <%= render "form", designation: @designation, url: admin_designations_path %>
  </div>
<% end %>
