<div class="max-w-4xl mx-auto">
  <div class="card card-pad">
    <h2 class="card-title mb-4">Edit Work Location</h2>
    <%= render "form", work_location: @work_location, url: admin_work_location_path(@work_location), method: :patch %>
  </div>
</div>
