<div class="max-w-4xl mx-auto">
  <div class="card card-pad">
    <h2 class="card-title mb-4">New Work Location</h2>
    <%= render "form", work_location: @work_location, url: admin_work_locations_path %>
  </div>
</div>
