<%
  payroll_run = PayrollRunPresenter.new(payroll_run) unless payroll_run.is_a?(PayrollRunPresenter)
%>
<span class="badge <%= payroll_run.status_badge_classes %>">
  <%= payroll_run.status_badge_label %>
</span>
