<%= turbo_frame_tag "salary_component_form" do %>
  <div class="card card-pad mb-6">
    <h2 class="card-title mb-4">New Salary Component</h2>
    <%= render "form", salary_component: @salary_component, url: admin_salary_components_path %>
  </div>
<% end %>
